In [3]:
import pandas as pd 
import numpy as np
import re
import matplotlib.pyplot as plt
import warnings #use this to get rid of warnings
warnings.filterwarnings('ignore')

In [4]:
var = pd.read_csv("AzhouseData.csv")
var

,Price,address,Local_area,zipcode,latitude,longitude,beds,baths,sqft,url
0,"$229,900",11444 N 28th Dr APT 14,Phoenix,85029,33.591906,-112.119569,2 bds,3 ba,"1,498",https://www.zillow.com/homedetails/11444-N-28t...
1,"$294,900",107 W Camino Rancho Lucido,Sahuarita,85629,31.980608,-110.972846,4 bds,3 ba,"1,951",https://www.zillow.com/homedetails/107-W-Camin...
2,"$683,100",3320 E Briarwood Ter,Phoenix,85048,33.296776,-112.011239,4 bds,4 ba,"3,110",https://www.zillow.com/homedetails/3320-E-Bria...
3,"$260,000",2401 N 70th St APT H,Scottsdale,85257,33.474553,-111.929453,2 bds,1 ba,759,https://www.zillow.com/homedetails/2401-N-70th...
4,"$290,900",3781 E Sierrita Rd,San Tan Valley,85143,33.133083,-111.525826,2 bds,2 ba,"1,052",https://www.zillow.com/homedetails/3781-E-Sier...
...,...,...,...,...,...,...,...,...,...,...
175,"$315,000",1018 E Ash St,Cottonwood,86326,34.737676,-112.016050,3 bds,2 ba,"1,328",https://www.zillow.com/homedetails/1018-E-Ash-...
176,"$494,900",7537 W Eugie Ave,Peoria,85381,33.607946,-112.221393,4 bds,3 ba,"2,346",https://www.zillow.com/homedetails/7537-W-Eugi...
177,"$375,000",25802 S Brentwood Dr,Sun Lakes,85248,33.212848,-111.870327,2 bds,2 ba,"1,545",https://www.zillow.com/homedetails/25802-S-Bre...
178,"$395,000",844 E Rosebud Dr,San Tan Valley,85143,33.168841,-111.557685,5 bds,3 ba,"2,639",https://www.zillow.com/homedetails/844-E-Roseb...
179,"$389,900",67 Wagon Wheel Ln,Sonoita,85637,31.658037,-110.615954,7 bds,4 ba,"4,000",https://www.zillow.com/homedetails/67-Wagon-Wh...

In [5]:
var.describe()

            zipcode    latitude   longitude
count    180.000000  180.000000  180.000000
mean   85497.266667   33.390425 -111.724251
std      397.950751    0.860921    0.925400
min    85006.000000   31.436752 -114.637577
25%    85207.000000   33.060699 -112.194849
50%    85348.000000   33.438675 -111.867214
75%    85737.000000   33.719949 -111.095824
max    86409.000000   35.267850 -109.050170

In [6]:
var.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Price       180 non-null    object
 1   address     180 non-null    object
 2   Local_area  180 non-null    object
 3   zipcode     180 non-null    int64
 4   latitude    180 non-null    float64
 5   longitude   180 non-null    float64
 6   beds        180 non-null    object
 7   baths       180 non-null    object
 8   sqft        177 non-null    object
 9   url         180 non-null    object
dtypes: float64(2), int64(1), object(7)
memory usage: 14.2+ KB

# Cleaning Data

In [7]:
var[var.isna().any(axis=1)]

,Price,address,Local_area,zipcode,latitude,longitude,beds,baths,sqft,url
121,"$7,947",2007 Snake Ranch Rd,Concho,85924,34.458120,-109.525498,10 acres lot,- Lot / Land for sale,NaN,https://www.zillow.com/homedetails/2007-Snake-...
125,"$69,500",2101 W Irvine Rd LOT 0,Phoenix,85086,33.834878,-112.105191,2.35 acres lot,- Lot / Land for sale,NaN,https://www.zillow.com/homedetails/2101-W-Irvi...
147,"$143,000",5576 Big Game Trl #18,Flagstaff,86001,35.059260,-111.558986,1.37 acres lot,- Lot / Land for sale,NaN,https://www.zillow.com/homedetails/5576-Big-Ga...

In [8]:
# keep only the rows that are not NA under sqft
var2 = var[var['sqft'].notna()]

In [9]:
var2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 177 entries, 0 to 179
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Price       177 non-null    object
 1   address     177 non-null    object
 2   Local_area  177 non-null    object
 3   zipcode     177 non-null    int64
 4   latitude    177 non-null    float64
 5   longitude   177 non-null    float64
 6   beds        177 non-null    object
 7   baths       177 non-null    object
 8   sqft        177 non-null    object
 9   url         177 non-null    object
dtypes: float64(2), int64(1), object(7)
memory usage: 15.2+ KB

## clean labels

In [10]:
var2.loc[:,'beds'] = [x.strip('bds') for x in var2.beds] #locate all rows under beds and strip 'beds'

In [11]:
var2.loc[:,'baths'] = [x.strip('baths') for x in var2.baths]

In [12]:
var2.loc[:,'Price'] = [x.strip('$') for x in var2.Price]

In [13]:
var2

,Price,address,Local_area,zipcode,latitude,longitude,beds,baths,sqft,url
0,"229,900",11444 N 28th Dr APT 14,Phoenix,85029,33.591906,-112.119569,2,3,"1,498",https://www.zillow.com/homedetails/11444-N-28t...
1,"294,900",107 W Camino Rancho Lucido,Sahuarita,85629,31.980608,-110.972846,4,3,"1,951",https://www.zillow.com/homedetails/107-W-Camin...
2,"683,100",3320 E Briarwood Ter,Phoenix,85048,33.296776,-112.011239,4,4,"3,110",https://www.zillow.com/homedetails/3320-E-Bria...
3,"260,000",2401 N 70th St APT H,Scottsdale,85257,33.474553,-111.929453,2,1,759,https://www.zillow.com/homedetails/2401-N-70th...
4,"290,900",3781 E Sierrita Rd,San Tan Valley,85143,33.133083,-111.525826,2,2,"1,052",https://www.zillow.com/homedetails/3781-E-Sier...
...,...,...,...,...,...,...,...,...,...,...
175,"315,000",1018 E Ash St,Cottonwood,86326,34.737676,-112.016050,3,2,"1,328",https://www.zillow.com/homedetails/1018-E-Ash-...
176,"494,900",7537 W Eugie Ave,Peoria,85381,33.607946,-112.221393,4,3,"2,346",https://www.zillow.com/homedetails/7537-W-Eugi...
177,"375,000",25802 S Brentwood Dr,Sun Lakes,85248,33.212848,-111.870327,2,2,"1,545",https://www.zillow.com/homedetails/25802-S-Bre...
178,"395,000",844 E Rosebud Dr,San Tan Valley,85143,33.168841,-111.557685,5,3,"2,639",https://www.zillow.com/homedetails/844-E-Roseb...
179,"389,900",67 Wagon Wheel Ln,Sonoita,85637,31.658037,-110.615954,7,4,"4,000",https://www.zillow.com/homedetails/67-Wagon-Wh...

In [14]:
var2['beds'] = var2['beds'].apply(pd.to_numeric)

In [15]:
var2['baths'] = var2['baths'].apply(pd.to_numeric)

In [16]:
var2['Price'] = var2['Price'].apply(lambda x: x.replace(",", ""))

In [17]:
var2['sqft'] = var2['sqft'].apply(lambda x: x.replace(",", ""))

In [18]:
var2

,Price,address,Local_area,zipcode,latitude,longitude,beds,baths,sqft,url
0,229900,11444 N 28th Dr APT 14,Phoenix,85029,33.591906,-112.119569,2,3,1498,https://www.zillow.com/homedetails/11444-N-28t...
1,294900,107 W Camino Rancho Lucido,Sahuarita,85629,31.980608,-110.972846,4,3,1951,https://www.zillow.com/homedetails/107-W-Camin...
2,683100,3320 E Briarwood Ter,Phoenix,85048,33.296776,-112.011239,4,4,3110,https://www.zillow.com/homedetails/3320-E-Bria...
3,260000,2401 N 70th St APT H,Scottsdale,85257,33.474553,-111.929453,2,1,759,https://www.zillow.com/homedetails/2401-N-70th...
4,290900,3781 E Sierrita Rd,San Tan Valley,85143,33.133083,-111.525826,2,2,1052,https://www.zillow.com/homedetails/3781-E-Sier...
...,...,...,...,...,...,...,...,...,...,...
175,315000,1018 E Ash St,Cottonwood,86326,34.737676,-112.016050,3,2,1328,https://www.zillow.com/homedetails/1018-E-Ash-...
176,494900,7537 W Eugie Ave,Peoria,85381,33.607946,-112.221393,4,3,2346,https://www.zillow.com/homedetails/7537-W-Eugi...
177,375000,25802 S Brentwood Dr,Sun Lakes,85248,33.212848,-111.870327,2,2,1545,https://www.zillow.com/homedetails/25802-S-Bre...
178,395000,844 E Rosebud Dr,San Tan Valley,85143,33.168841,-111.557685,5,3,2639,https://www.zillow.com/homedetails/844-E-Roseb...
179,389900,67 Wagon Wheel Ln,Sonoita,85637,31.658037,-110.615954,7,4,4000,https://www.zillow.com/homedetails/67-Wagon-Wh...

In [19]:
var2.iloc[25, 0] = 221000

In [20]:
var2.iloc[146, 0] = 345990

In [21]:
var2['Price'] = var2['Price'].apply(pd.to_numeric)

In [22]:
var2['sqft'] = var2['sqft'].apply(pd.to_numeric)

In [23]:
var2.dtypes

Price           int64
address        object
Local_area     object
zipcode         int64
latitude      float64
longitude     float64
beds            int64
baths           int64
sqft            int64
url            object
dtype: object

In [27]:
var2 = var2[['Price','address','Local_area', 'zipcode', 'beds', 'baths', 'sqft', 'url']]
var2.to_csv('Zillowhouses.csv',index=False)